@use "../global" as g;

/*!
component > title
------------------------------
*/
.c-title {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-left: 4px solid #333;
  padding-left: 16px;
  margin-bottom: 24px;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-font-base);
  }
}
